<!DOCTYPE html>
<html>
<body>


<form action="./features" method="post">
            {% csrf_token %}
        Topic features representation<br>
        Please input the number of topics:
    <input type="text" name="num_topics" value="2">
        <br>
        <br>
        <br>
        Auto encoder features representation<br>
        Please input the number of encoding dimension:
    <input type="text" name="num_dim" value="2">
        <br>
            <input type="submit" value="show">

</form>

</body>
</html>