<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Cohort System</title>
{%load static%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/doc.css'%}">
</head>
<body>
<header class="bs-docs-nav navbar navbar-static-top" id="top"> 
<div class="container">
 <div class="navbar-header">
  <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span> </button>
   <a href="../" class="navbar-brand">Patient Cohort</a>
  </div> 
  <nav class="collapse navbar-collapse" id="bs-navbar">
   <ul class="nav navbar-nav">
    <li class="active"> <a href="../getting-started/">Dashboard</a> </li>
    <li> <a href="../css/">Settings</a> </li>
   </ul>
   </nav>
   </div>
</header>

 <div class="bs-docs-header" id="content" tabindex="-1"> 
	<div class="container"> 
		<h1>Step 4 Feature Representation</h1> 
		<p>An overview of Bootstrap, how to download and use, basic templates and examples, and more.</p> 
		<div id="carbonads-container" class="container">
			<div class="carbonad center">
				<ul class="nav lq bla blc">
					<li class="lp"><a class="ln" href="stp1-import.html">Step 1</a></li>
					<li class="lp"><a class="ln" href="stp2-fea-selection.html">Step 2</a></li>
					<li class="lp"><a class="ln" href="stp3-fea-processing.html">Step 3</a></li>
					<li class="lp"><a class="ln active" href="stp4-fea-representation.html">Step 4</a></li>
					<li class="lp"><a class="ln" href="stp5-rep-view.html">Step 5</a></li>
					<li class="lp"><a class="ln" href="stp6-clu-selection.html">Step 6</a></li>
					<li class="lp"><a class="ln" href="stp7-clu-visualisation.html">Step 7</a></li>
					<li class="lp"><a class="ln" href="stp8-dat-exploration.html">Step 8</a></li>
					<li class="lp"><a class="ln" href="stp9-dat-labelling.html">Step 9</a></li>
					<li class="lp"><a class="ln"  href="stp10-met-learning.html">Step 10</a></li>				
				</ul>
			</div>
		</div>
	 </div>
 </div>

<main role="main">
<!-- here for upload file content -->
	<div class="page-content" style="padding-top: 25px;">
		<div class="container">
		<form class="form-horizontal" action="./features" method="post">
		 {% csrf_token %}
		  <div class="form-group">
		    <label for="original_checkbox" class="col-sm-2 control-label">Original</label>
		    <div class="col-sm-10">
		      <div class="radio">
		        <label>
		          <input id="optionsRadios1" name="representation" type="radio" value="original" aria-label="...">
		        </label>
		      </div>      
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
				<span id="helpBlock-description" class="help-block">Just use the original value as representation.</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Example</label>
		    <div class="col-sm-10">
				<span id="helpBlock-example" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.In digital circuits, one-hot is a group of bits among which the legal combinations of values are only those with a single high (1) bit and all the others low (0).[1] A similar implementation in which all bits are '1' except one '0' is sometimes called one-cold.</span>
		    </div>
		  </div>
		  <br />
		  <div class="form-group">
		    <label for="original_checkbox" class="col-sm-2 control-label">Topic Model</label>
		    <div class="col-sm-10">
		      <div class="radio">
		        <label>
		          <input id="optionsRadios2" name="representation" type="radio" value="topicmodel" aria-label="...">
		        </label>
		      </div>      
		    </div>
		  </div>
		  <div class="form-group">
			  	<label for="inputnocluster" class="col-sm-2 control-label">Topic Number </label>
		  	    <div class="col-sm-10">
			      <input type="number" class="form-control" id="num_topics" name="num_topics" value ="10" placeholder="4">
			    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
				<span id="helpBlock-description" class="help-block">In machine learning and natural language processing, a topic model is a type of statistical model for discovering the abstract "topics" that occur in a collection of documents. Topic modeling is a frequently used text-mining tool for discovery of hidden semantic structures in a text body. Intuitively, given that a document is about a particular topic, one would expect particular words to appear in the document more or less frequently: "dog" and "bone" will appear more often in documents about dogs, "cat" and "meow" will appear in documents about cats, and "the" and "is" will appear equally in both.</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Example</label>
		    <div class="col-sm-10">
				<span id="helpBlock-example" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
		    </div>
		  </div>
		  <br />
		  <div class="form-group">
		    <label for="original_checkbox" class="col-sm-2 control-label">Auto-encoder</label>
		    <div class="col-sm-10">
		      <div class="radio">
		        <label>
		          <input id="optionsRadios3" name="representation" type="radio" value="autoencoder" aria-label="...">
		        </label>
		      </div>      
		    </div>
		  </div>
		  <div class="form-group">
			  	<label for="inputnocluster" class="col-sm-2 control-label">Dimension Number </label>
		  	    <div class="col-sm-10">
			      <input type="number" class="form-control" id="num_dim" name="num_dim" value ="10" placeholder="4">
			    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
				<span id="helpBlock-description" class="help-block">An autoencoder, autoassociator or Diabolo network is an artificial neural network used for unsupervised learning of efficient codings. The aim of an autoencoder is to learn a representation (encoding) for a set of data, typically for the purpose of dimensionality reduction. Recently, the autoencoder concept has become more widely used for learning generative models of data.</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Example</label>
		    <div class="col-sm-10">
				<span id="helpBlock-example" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
		    </div>
		  </div>		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Next Step</button>
		    </div>
		  </div>
		</form>
		</div>
	</div>
</main>

  <footer class="footer">
  	<div class="container">
  		 <p class="text-muted">&copy; All right to UTS:CAI 2017</p>
  	</div>
  </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>