{% include "header.html"%}

<main role="main">
<!-- here for upload file content -->
	<div class="page-content container" style="padding-top: 25px;">
		
		<div class="row">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
		            <tr>
		                <th>Feature Name</th>
		                <th>Data Type</th>
		                <th>Process </th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Feature Name</th>
		                <th>Data Type</th>
		                <th>Process</th>
		            </tr>
		        </tfoot>
		        <tbody>
					<tr>
					  <td>SUBJECT_ID</td>
					  <td>String</td>
					  <td>1hot</td>
					</tr>
					<tr>
					  <td>ICD9_CODE</td>
					  <td>String</td>
					  <td>1hot</td>
					</tr>
		            
		        </tbody>
    </table>		
		</div>
		<div class="row" id="button-div2">
			<button class="btn btn-primary center-block" type="button" onclick="window.location.href='/feature_representation'">Next Step</button>
		</div>		
	</div>
</main>

{% include "footer.html"%}